html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 14px;
    background-color: #7FDBFF;
}

table {
    margin-left: 20px;
}

.header {
    height: 20px;
    align-content: center;
    margin-left: 10px;
}

a {
    color: black;
    background-color: yellow;
    text-decoration: none;
    border-radius: 3px;
}

.header {
    height: 30px;
}

@keyframes blink {
    0% {
        opacity: 1;
        color: red;
        /* Start color */
    }

    50% {
        opacity: 0;
        color: blue;
        /* Middle color */
    }

    100% {
        opacity: 1;
        color: green;
        /* End color */
    }
}

.blinking {
    animation: blink 1.5s 3;
    /* Blink animation */
}

.biscoito {
    font-size: 14px;
}