html, body {
    height: 100%;
    margin: 0;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height */
}
.header {
    background: #f7f9fb;
    color: black;
    text-align: center;
    padding: 15px;
    height: 30px;
}
.main-content {
    flex-grow: 1; /* Takes remaining height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.content-box {
    width: 100%;
    max-width: 600px;
    height: 100%; /* Full height */
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: black;
    background-color: yellow;
    text-decoration: none;
}

@keyframes blink {
    0% {
        opacity: 1;
        color: red;
        /* Start color */
    }

    50% {
        opacity: 0;
        color: blue;
        /* Middle color */
    }

    100% {
        opacity: 1;
        color: green;
        /* End color */
    }
}

.blinking {
    animation: blink 1.5s 3;
    /* Blink animation */
}