html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
@keyframes blink {
        0% {
            opacity: 1;
            color: red; /* Start color */
        }
        50% {
            opacity: 0;
            color: blue; /* Middle color */
        }
        100% {
            opacity: 1;
            color: green; /* End color */
        }
    }
    .blinking {
        animation: blink 1.5s 5; /* Blink animation */
    }